$backgroundColor: #F2E8F0;

$titleColor:#AF6BA5;

$textColor: #000;

$fontText: 'Roboto';


body{
    font-family: 'Roboto', sans-serif !important;
    background-color: $backgroundColor !important;
    list-style-type: none;
    a{
        color: inherit;
        text-decoration: none;
    }
    a:hover{
        color: brown;
    }
}

header{
    i{
        font-size: 30px;
        margin-right: 10px;
        color: $titleColor;
        position: relative;
        bottom: 4px;
    }
}

footer{
    i{
        font-size: 15px;
        color: $titleColor;
        margin-right: 5px;
    }
}

.title{
    font-family: 'Rubik', cursive;
    color: $titleColor;
}

.brand{
    font-family: 'Roboto', cursive;
    font-style: italic;
    color: $titleColor;
}

.headerColor, .footerColor{
    color: $textColor !important;
}

header, footer{
    background-color: #FFF;
}


.parentCardLogo{
    position:relative;
}

.cardLogo{
    position: absolute;
    right: 25px;
    bottom: 10px;
    font-size: 22px;
}

#numberItemCard{
    position: absolute;
    right: 60px;
    bottom: 8px;
    font-size: 22px;
}




@media (min-width: 768px){
.mr-md-auto, .mx-md-auto {
    margin-right: auto!important;
}
.sign {
    margin-left: 25px;
}
}
@media (min-width:425px){
}
